.jumbotron {
    background-image: url("../../image/burg.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: rgb(0, 0, 0);
}

#lefthead {
    background-color: #4fd3d8a6;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #a330f0;
    color: white;
    text-align: center;
    font-size: 1.2em;
}